#check {
    display: flex; 
    gap: 1%;
    justify-content: space-evenly;
}


#banner {
    /* border: 1px solid red; */
    width: 100%;
    height: 550px;
    margin-top: 28px;
    margin-bottom: -50px;
}

body {
    font-style: sans-serif;
    background-color: #010813;
}

* {
    padding: 0px;
    margin: 0px;
    color: #be1098;
}
main{
    width: 90%;
    margin: auto;
}

#section_1 {
    height: auto;
    margin-bottom: 40px;
    display: flex;
    margin-top: 120px;
    /* border: 1px solid yellow; */
    justify-content: space-between;
    color: #be1098;
    /* background-color: rgb(49,117,255); */
    padding: 25px;

}

#section_1 div h1, #section_1 div h3{
    color: #0c1368;
}

#section_1>div:nth-child(1) {
    width: 50%;
    /* margin: auto; */
    /* border: 1px solid yellow; */
}

#section_1>div:nth-child(2) {
    width: 50%;
    /* margin: auto; */
    /* border: 1px solid yellow; */
}

#section_1_child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;

}


#btn_home {
    font-size: 25px;
    padding: 15px 25px;
    border-radius: 10px;
    color: #be1098;
    border: 1px solid #b5d0f8;
}

#btn_home:hover {
    background-color: white;
    cursor: pointer;
}

#section_2 {
    /* border: 1px solid black; */
    height: auto;
    text-align: center;
    padding: 40px 20px;
    margin: 20px;
    background-color: #010813;
    margin-bottom: 15px;
}



#section_2 h1 {
    color: #0c1368;
    padding-top: 60px;
    padding: 15px;
    /* border: 1px solid black; */
}

#section_2>div>button {
    margin: 30px;
    gap: 200px;
    background-color: #f0aadc;
    /* border: 1px solid black; */
    /* color: rgb(0,35,71); */
}

#section_3 {

    margin-bottom: 40px;
}

#section_3 h1, #section_3 div h2{
    color: #0c1368;
}


#section_3_child {
    gap: 1%;
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
}

#section_3_child>div {

    padding: 15px 25px;
    border-radius: 10px;
    color: #00053d;
    display: flex;
    gap: 7%;

}

#section_3_child p {
    font-size: 18px;
}

#section_3_child>div:hover {
    border: 1px solid #b5d0f8;
    cursor: pointer;
    border-radius: 10px;
    color: #00053d;
}

#image {
    width: 80px;
}

#section_4 {
    /* border: 1px solid rgb(248, 42, 42); */
    height: auto;

    margin-bottom: 40px;
    background-color: #010813;
    padding: 30px 25px;
    /* margin: 20px; */
}

#section_4 h1, #section_4 div h2{
    color: #0c1368;
}

#section_4_child {
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid black; */
    gap: 4%;
    padding-left: 10px;
    margin-bottom: 50px;
}

#section_4_child img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

#section_4_child>div {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 15px 25px;
}

#section_4_child>div:hover {
    border: 1px solid #b5d0f8;
    cursor: pointer;
}

#section_4_child h2 {
    margin-bottom: 10px;
}

#section_4_child p,
#section_5_child p {
    font-size: 18px;
}

#section_5 {
    /* border: 1px solid rgb(248, 42, 42); */
    margin-bottom: 40px;
}

#section_5 h1{
    color: #00053d;
}
#section_5 div h1{
    color:rgb(59, 211, 21)
}

#section_5_child {
    margin-top: 15px;
    /* border: 1px solid rgb(248, 42, 42); */
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

#section_5_child div {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    margin: 30px;
    padding: 30px;
    border-left: 3px solid #010813;
    border-radius: 10px;
    background-color: #010813;
}

#section_5_child div:hover {
    background-color: #b5d0f8;

}

#section_6,
#section_7,
#section_8,
#section_9 {

    /* border: 1px solid rgb(248, 42, 42); */
    display: grid;
    gap: 5%;
    margin: 5px 10px;
    padding: 0px 10px;
    height: auto;
    margin-bottom: 40px;
    grid-template-columns: repeat(2, 1fr);
}
#section_6  h1,#section_6 div h2,
#section_7  h1,
#section_8  h1,
#section_9  h1,#section_9 div h2{
    color:#0c1368
}
#section_7 div h2,#section_8 div h2{
    color: #0c1368;
}

#section_6 img,
#section_7 img,
#section_8 img,
#section_9 img {
    width: 100%;
}

#section_6_child,
#section_7_child,
#section_8_child,
#section_9_child {
    /* border: 1px solid rgb(248, 42, 42); */
    margin: auto;
    padding: 10px;
}

#section_6_child h1,
#section_7_child h1,
#section_8_child h1,
#section_9_child h1 {
    /* border: 1px solid rgb(248, 42, 42); */
    font-size: 2rem;
}

#section_6_child span,
#section_7_child span,
#section_8_child span,
#section_9_child span {
    /* border: 1px solid rgb(248, 42, 42); */
    font-size: 18px;
}

#section_7_child p,
#section_9_child p {
    /* border: 1px solid rgb(248, 42, 42); */
    font-size: 18px;
    color: #00053d;
    text-decoration: underline;
    cursor: pointer;
}

#section_8 #image {
    width: 70%;
}
@media (max-width:1220px) {
      
    #signup-box{
        display: block;
   
   }
   
   #logout-box{
       display: none;
       justify-content: space-evenly;
       
   }
   #logout-box span{
     margin-left:5px;
       cursor: pointer;
   }
}
@media (max-width:1120px) {
    #banner {
       display: none;
    
    }

    
    #signup-box{
        display: block;
   
   }
   
   #logout-box{
       display: none;
       justify-content: space-evenly;
       
   }
   #logout-box span{
     margin-left:10px;
       cursor: pointer;
   }
}
@media (max-width:920px) {
    #banner {
        display: none;
     
     }
   
    #section_1 {
        flex-direction: column;
        gap: 3%;
        row-gap: 15px;
    }
    #section_1>div:nth-child(1) {
        width: 100%;
        /* margin: auto; */
        /* border: 1px solid yellow; */
    }
    #section_2>div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    #section_3_child {

        grid-template-columns: repeat(2, 1fr);
    }

    #section_4_child {
        grid-template-columns: repeat(2, 1fr);
    }

    #section_5_child {

        grid-template-columns: repeat(2, 1fr);

    }

    #section_6,
    #section_7,
    #section_8,
    #section_9 {
        grid-template-columns: repeat(1, 1fr);
    }

    #signup-box{
        display: block;
   
   }
   
   #logout-box{
       display: none;
       justify-content: space-evenly;
       
   }
   #logout-box span{
     margin-left:10px;
       cursor: pointer;
   }
}

@media (max-width:620px) {
    #banner {
        display: none;
     
     }
    #section_4_child{
        display: none;
    }
    #section_1_child {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 15px;
    }
    #section_2>div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    #section_3_child {

        grid-template-columns: repeat(1, 1fr);
    }

    #section_4_child {
        grid-template-columns: repeat(1, 1fr);
    }

    #section_5_child {

        grid-template-columns: repeat(1, 1fr);

    }

    #section_6,
    #section_7,
    #section_8,
    #section_9 {
        grid-template-columns: repeat(1, 1fr);
    }

    #signup-box{
        display: block;
   
   }
   
   #logout-box{
       display: none;
       justify-content: space-evenly;
       
   }
   #logout-box span{
     margin-left:10px;
       cursor: pointer;
   }

}
#signup-box{
     display: block;

}

#logout-box{
    display: none;
    justify-content: space-evenly;
    
}
#logout-box span{
  margin-left:10px;
    cursor: pointer;
    padding: 5px;
}

#logout-box span:hover{
    background-color: #b5d0f8;
    border-radius: 6px;
}