* {
    margin: 0px;
    padding: 0px;

}

nav {
width: 80%;
 position: sticky;
 top:0px;
    
}

#navBar {
    top: 0px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    gap: 3%;
    margin: auto;
    align-items: center;
    /* margin-top: 0%; */
    padding: 3px 20px;
    height: 60px;
    margin: 0px 0px;
   
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: fixed;
    width: 98%;
	/* background: #d94545; */
    background-color: #be1098;
    color: #000;
    /* opacity: 0.85; */
    z-index: 1;
    
}

#navBar div:nth-child(1) {
    /* border: 1px solid rgb(24, 184, 59); */
    width: 12%;
    cursor: pointer;
    padding: 4px;
    border-radius: 10px;
}

/* #navBar div:nth-child(1):hover {
    
    background-color: #b5d0f8;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
} */

#navBar div:nth-child(2) {
    /* border: 1px solid rgb(24, 184, 59); */
    width: 55%;
}

#navBar div:nth-child(2) li,
#navBar div:nth-child(3) li {
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;

}

#navBar div:nth-child(2) li:hover,
#navBar div:nth-child(3) li:hover {
    
    background-color: white;
}

#navBar div:nth-child(3) {
    /* border: 1px solid rgb(24, 184, 59); */
    width: 30%;
}


#navBar ul {
    /* border: 1px solid rgb(19, 19, 20); */
    display: flex;
    gap: 3%;
    justify-content: flex-start;
    font-size: 21px;
    list-style: none;
    color: black;

}

#navBar div:nth-child(3) ul {
    gap: 5%;
    justify-content: end;


}


a {
    text-decoration: none;
    color: black;

}

li {
    font-weight: 200px;
}

a:hover {

    text-decoration: underline;
    color:rgb(26, 92, 184);
}

img {
    width: 100%;

    /* border: 1px solid rgb(231, 173, 14); */
}
@media (max-width:1000px) {
  
    #navBar div:nth-child(2){
        display: none;
        justify-content: space-around;
    }
    #navBar {
        width: 100%;
        /* flex-direction: column; */
        padding: 0px;
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width:920px) {
  
    #navBar {
        width: 100%;
        /* padding: 0px; */
        /* flex-direction: column; */
        display: flex;
        justify-content: space-around;
    }
  

    #navBar div {
        flex-wrap: nowrap;
        text-align: center;
        /* border: 1px solid rgb(231, 173, 14);
         */
    }

    #navBar div>ul {

        margin: auto;
        text-align: center;
    }
}

@media (max-width:560px) {
    #navBar div:nth-child(3){
       /* display: none; */
       width: 200px;
       
    }
}

